* {
	font-family: 'Lato', sans-serif;
	font-size: 18px;		
}

body {
	background-color: cornflowerblue;
}

p {
	font-family: 'Lato', sans-serif;
	color: midnightblue;
}

h2 {
	color: indianred;
	font-family: 'Fredoka One', cursive;
	font-size: 1.75em;
	text-align: center;	
}

h3 {
	color: indianred;
	font-family: 'Fredoka One', cursive;
	font-size: 1.15em;
	padding: 10px;	
	margin: 0;
	text-align: center;
}

hr {
	width: 70%;
	border: 1px solid indianred;
}

/* ///// Table properties ///// */

table {
	background-color: floralwhite;
	border: 0px;
	padding: 0px;
	width: 100%;	
}

tr {
	padding: 1px;
}

td {
	padding: 5px;
}

/* //// IDs and selectors (label, input, feedback span)///// */

.labelcol label {
	color: indianred;
	font-family: 'Fredoka One', cursive;
}

.inputcol input {
	border: solid 3px lightsalmon;
	font-family: 'Lato', sans-serif;
}

.feedbackcol span {
	color: gray;
	font-family: 'Lato', sans-serif;
	font-size: .75em
}

/* //// Div container to keep everything packed in ///// */

#formcontainer {
	margin: 5%;
	background-color: floralwhite;
	border-radius: 10px;
	border: solid 3px lightsalmon;
	padding: 1% 3% 5% 3%;
}

/* //// the button for onclick ///// */

.button {
  background-color: mediumseagreen; 
  border: none;
  color: white;
  font-family: 'Fredoka One', cursive;
  padding: 20px 150px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  border-radius: 10px;
}